/* Empty. Add your own CSS if you like */

.height1 {
	height: 7vh;
}

.height2 {
	height: 20vh;
}

.height3 {
	height: 30vh;
}

.height4 {
	height: 5vh;
}

.bgd {
	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/foods.jpg");
	background-position: 100%, 80%;
}

.bar {
	background-color: #f15522;
 background-image: none !important;
	color: #fff;
	border-top: 1px solid #f15522;
		border-top: 1px solid transparent;

	border-bottom: 1px solid transparent;
}

.header-badge{
  top: -40px !important;
  right: -11px !important;
	padding: 1px;
	margin:4px;
	font-size: 12px;
}

.bar-header {
	border: 0px !important;
	border-bottom-color: transparent !important;
	background-image: none !important;
	border-bottom: none !important;
}

.color-white {
	color: #fff!important;
}

.profile h2,
.profile p {
	color: #fff;
}

.padding-left {
	padding-left: 10px;
}

.bottom1{
	bottom:0!important;
}
.padding-top {
	padding-top: 10px;
}
/*.has-footer { bottom: 42px!important; }*/
/*
.height11{
	height:300px!important;
}
*/
.profile.list a {
	background-color: transparent;
	color: #fff;
}

.profile.list a:hover {
	background-color: transparent;
}

.padding-0 {
	padding: 0;
}

.margin-0 {
	margin: 0;
}
.margin-top {
	margin-top: 10px
}

.margin-bottom {
	margin-bottom: 10px
}

.button-clear.button-clear {
	color: #fff;
}

.border-none {
	border: 1px solid transparent;
}

.background-color {
	background-color: #f15522;
}

.background-color-2 {
	background-color: #E9E9E9;
}

.background-transparent {
	background-color: transparent;
}
.border-bottom-color{
	border-bottom:1px solid #f5f5f5;
}

.small {
	height: 1px;
	overflow: hidden;
}

.big {
	height: 100px;
}

.grid {
	height: auto !important;
	border: 1px solid transparent;
}

.grid img {
	height: 100px !important;
}

.grid .position-1 {
	position: static!important;
	background-color: #fff!important;
	color: #000!important;
}

.grid .position-1 h2,
.grid .position-1 p {
	color: #000!important;
}

.grid1 {
	position: relative;
}

.grid1 img {
	height: 200px;
}

.grid .position-1:after {
	content: ''!important;
}

.grid1 .position-1 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #333333ad;
	color: #fff;
}

.grid1 .position-1:after {
	position: absolute;
	font-family: "Ionicons";
	content: '\f3d3';
	font-size: 25px;
	bottom: 30px;
	right: 10px;
}

.grid1 .position-1 h2,
.grid1 .position-1 p {
	color: #fff;
}

.grid1 .item-content {
	-webkit-animation: fadeIn 0.3s linear;
	-webkit-animation-fill-mode: both;
}

.grid-container .item-content {
	-webkit-animation: zoomIn 0.3s linear;
	-webkit-animation-fill-mode: both;
}

.grid-container .list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	color: #
}

#register input,
#login input {
	color: #fff;
}

.input-label {
	display: table;
	padding: 0;
	max-width: 100%;
	width: 100%;
	color: #f15522;
}

.item-input.item-floating-label {
	padding: 0;
}

.item-floating-label .input-label {
	/*	left:-7px;*/
}

.item-floating-label input {
	border-bottom: 1px solid #fff;
}

.item {
	border-color: transparent;
}
.item-options {
	padding:5px;
}

.item-complex .item-content{
	width:100%;
}
.item-complex .item-content {
	padding: 0;
}

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
	border-color: transparent;
	background-color: transparent;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.back-button {
	color: #fff !important;
}

.bar-clear {
	background-color: rgba(241, 85, 34, 0.1);
}

.item-divider {
	background-color: #fff;
}

.card,
.list-inset {
	overflow: hidden;
	margin: 0 0 10px 0;
	box-shadow: none;
}

.card .item {
	border: none;
}

.card .item img {
	height: 100px;
}

.button {
	border-radius: 0;
}

.assertive {
	color: #f15522;
}
.delivery-avatar .item-avatar > img:first-child{
	position: absolute;
    top: 3px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.button.button-assertive,
.button.button-assertive.activated,
.button.button-assertive:hover, .bar.bar-assertive{
	background-color: #f15522;
	color: #fff;
	border: 1px solid transparent
}

.rating {
	display: flex;
	align-items: center;
	justify-content: flex-end!important;
}

.rating.color-positive .star-container .star svg {
	fill: #f15522!important;
}

.tabbed-slidebox .slider {
	/*    height: 100%;*/
}

.tabbed-slidebox.btm .slider {
	margin-bottom: -50px;
}

.tabbed-slidebox .slider-slides {
	width: 100%;
}

.tabbed-slidebox .slider-slide {
	padding-top: 0px;
	color: #000;
	/*    background-color: #fff;*/
	/* text-align: center; */
	font-weight: 300;
	/*    background-color: #0398dc;*/
}

.tabbed-slidebox .tsb-icons {
	text-align: center;
	/*    margin: 10px 0;*/
	position: relative;
	background-color: #fff;
}

.tabbed-slidebox .tsb-ic-wrp {
	display: flex;
	position: relative;
	-webkit-transition: -webkit-transform 0.3s;
	/* For Safari 3.1 to 6.0 */
	-webkit-transform: translate3d(0, 0, 0);
}

.tabbed-slidebox .tsb-icons a {
	display: inline-block;
	width: 54px;
	font-size: 1.5em;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	/*	-webkit-transform:translate3d(0,8px,0);*/
}

.tabbed-slidebox .tsb-icons a.active {
	color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #f15522;
	font-size: 1.5em;
	/*	    flex-grow: 2;*/
	/*	-webkit-transform:translate3d(0,0,0);*/
}

.tabbed-slidebox .tabbed-slidebox {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.tabbed-slidebox .tsb-icons:after {
	width: 0;
	height: 0;
	/*    border-style: solid;*/
	border-width: 0 1.4em 1.4em 1.4em;
	border-color: transparent transparent #0398dc transparent;
	position: absolute;
	content: "";
	display: block;
	bottom: -12px;
	left: 50%;
	margin-left: -14px;
}

.tsb-hscroll.scroll-view {
	white-space: nowrap;
	margin: 0 auto;
}

.tsb-hscroll.scroll-view .scroll-bar {
	visibility: hidden;
}

.tsb-hscroll.scroll-view .scroll.onscroll {
	-webkit-transition: -webkit-transform 0.3s;
	/* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a {
	width: auto;
	font-size: 1.5em;
	line-height: 1.5em;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 3px solid transparent;
}

.tabbed-slidebox .tsb-icons .scroll a.active {
	/*	font-size: 1.8em;*/
	border-bottom: 3px solid #f15522;
}

.tab-nav.tabs {
	transition: all 1s all;
}
.restaurant-detail .col{

	padding:0;
}
.button-footer-bar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.more_add {
	/*           position: relative;*/
	top: 32px;
	right: 10px;
	float: right;
	/*left: 52%;*/
}

.more_add_minus {
	padding: 4px 6px 4px 9px;
	background-color: #f15522;
	color: #FFF;
	border: 1px solid #f15522;
}

.more_add_plus {
	padding: 4px 10px 4px 10px;
	background-color: #f15522;
	color: #FFF;
	border: 1px solid #f15522;
}

.order_cart_price b {
	padding: 4px 6px 0px 10px;
}

.slide-out-down .tabs {
	-webkit-animation: slideOutDown 0.2s linear;
	-webkit-animation-fill-mode: both;
}

.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
	display: flex !important;
}

.slide-in-up .tabs {
	-webkit-animation: slideInUp 0.2s linear;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes slideOutDown {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}

@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

[ion-ripple] {
	position: relative;
	overflow: hidden!important
}

.ion-ripple {
	display: block;
	position: absolute;
	z-index: 1;
	background-color: #fff;
	border-radius: 50%;
	-webkit-transform: scale(0);
	transform: scale(0);
	will-change: transform
}

.ion-ripple_animate {
	-webkit-animation-name: ripple;
	animation-name: ripple;
	-webkit-animation-duration: 0.45s;
	animation-duration: 0.45s
}

@-webkit-keyframes ripple {
	0% {
		opacity: .4;
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5)
	}
}

@keyframes ripple {
	0% {
		opacity: .4;
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5)
	}
}

.group1 {
	position: relative;
	margin-bottom: 45px;
}

input {
	font-size: 18px;
	/*  padding:10px 10px 10px 5px;*/
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff!important;
}

input:focus {
	outline: none;
}


/* LABEL ======================================= */

.label1 {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	/*  left:5px;*/
	top: 0px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}


/* active state */

input:focus ~ .label1,
input:valid ~ .label1 {
	top: -20px;
	font-size: 14px;
	color: #f15522;
}


/* BOTTOM BARS ================================= */

.bar1 {
	position: relative;
	display: block;
	width: 100%;
}

.bar1:before,
.bar1:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: #f15522;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar1:before {
	left: 50%;
}

.bar1:after {
	right: 50%;
}


/* active state */

input:focus ~ .bar1:before,
input:focus ~ .bar1:after {
	width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
	from {
		background: #f15522;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #f15522;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #f15522;
	}
	to {
		width: 0;
		background: transparent;
	}
}

.bar.header-background {
	background-color: rgba(241, 85, 34, 0.2);

}

.bar.header-background h1 {
	color: white;
}

@keyframes myChange {
    from {
        color: black;

    } to {
        color: white;

    }
}
@keyframes backtwiped {
    from {
        height: 100vh;



    } to {
        height: 60vh;

    }
}

@keyframes backtwipedinvers {
    from {
        height: 60vh;opacity:0.1;

    } to {
        height: 100vh;opacity:1;

    }
}
@keyframes paddingAnimaion {
    from {
        padding: 0%;background-color: black;
    } to {
        padding: 33%;background-color: #212020;
    }
}
@keyframes skscrolltwipedinvers {
    from {
        background-color: rgba(0,0,0,  0.1);opacity:0.1;
    } to {
     background-color: rgba(0,0,0,  0.5); opacity:1;
    }
}
.p{
-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.p1{
margin:0px;
padding:0px;
	height: 50vh;
	background-color:red;

position:relative;
top:0px;
}
.p1-active{


background-color: red;
top:42vh;
}
.p2{
margin:0px;
/*padding:0px;*/
height: 50vh;
color:white;
background-color:black;
position:relative;
top:0px;
}
.p2-hidden{
display:none;
}
.p2-active{
top:50vh;
 animation: 0.5s paddingAnimaion; padding: 33%;background-color: #212020;
}
.p3{
margin:0px;
padding:0px;
  height: 50vh;
    background-color:blue;position:relative;
top:0px;
}
.p3-hidden{
display:none;
}
.p3-active{

top:60vh;}
.nghide {

    animation: 0.5s myChange;
	color:white;
}
.skscroll.scroll-content.ionic-scroll.has-header.indexing
{
z-index:-20;
}


.skscroll.scroll-content.ionic-scroll.has-header .scroll .back
{

	height:80vh;
	opacity:0.1;
}
.skscroll .scroll-bar.scroll-bar-v
{
	display: none;
}

.skscroll .list .item
{
border-color: #ffffff;
background-color: rgb(228, 224, 224);
color: #1f67b3;
    font-size: 13px;
}
.skscroll .list .item icon
{
font-size: x-large;
    color: #9a0b0b;
}
.spinner svg {
  width: 58px;
  height: 58px;
  stroke: #f15522;
  fill: #f15522;
}
.location
{
	 white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.error-message
{
  color: #e40404;
  padding: 0px 24px;
  font-size: 12px;
  text-transform: none;
}
