<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
	<link rel="manifest" href="manifest.json">
	<!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDEXjHVJ6H60TpVgaQwCBOhuMn2LdWJVFc&libraries=places"></script>
	<script src="lib/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
	<script src="js/ion-ripple.min.js"></script>
	<!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
	<script src="cordova.js"></script>
	<!-- your app's js -->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="js/rating.js"></script>
	<script src="js/tabSlideBox.js"></script>
	<script src="js/ion-pullup.min.js"></script>
	<script src="js/ionicSuperActionSheet.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.min.js"></script>

</head>

<body ng-app="starter" ng-controller="AppCtrl">
	<!--
      The nav bar that will be updated as we navigate between views.
    -->
	<ion-nav-bar class="bar">
		<ion-nav-back-button> </ion-nav-back-button>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-cart-outline" ui-sref="tab.cart">
				<span class="badge badge-balanced header-badge" ng-if="cart_count">{{cart_count}}</span>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
	<ion-nav-view animation="slide-left-right"></ion-nav-view>
	 <script id="my-popover.html" type="text/ng-template">
		<ion-popover-view>
			<ion-header-bar>
				<h1 class="title color-white">Menus</h1> </ion-header-bar>
			<ion-content>
				<ion-list>
					<ion-radio ng-model="choice" ng-value="menu.id" ng-click="scrollTo(menu.name)" ng-repeat="menu in menus | orderBy : 'name'">{{menu.name}}</ion-radio>
				</ion-list>
			</ion-content>
		</ion-popover-view>
	</script>
</body>

</html>
