<ion-view view-title="Cart"  hide-tabs="true">
	<ion-nav-bar class="bar">
		<ion-nav-back-button> </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="background-color-2 has-header has-footer">
			<section  ng-if="restaurant">
				<div class="card">
					<div class="item item-thumbnail-left row">
						<div class="col-30">
							<img ng-src="{{img_url}}/{{restaurant.path}}/{{restaurant.image}}" style="max-width: 110px; height:100px">
						</div>
						<div class="col ">
							<div class="row">
								<div class="col ">
									<div class="text-left">
										<h3>{{restaurant.hotel_name}}</h3>
										<p ng-bind="restaurant.area"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ion-list>
						<ion-item class="item-thumbnail-left item-remove-animate row" ng-repeat="order in productlist">
							<div class="col ">
							<div class="text-left">

								<div class="row">
									<div class="col col-50">				<h2>{{order.name}}</h2>
										<p>{{curency}} {{order.price * order.quantity}}</p>
									</div>
											<div class="col col-50 col-center">
									<div class="more_add">
										<div class="order_cart_price">
											<a ng-click="sub(order);" class="more_add_minus"> <span class="ion-minus-round"></span> </a> <b>{{order.quantity}}</b>
											<a ng-click="add(order)" class="more_add_plus"> <span class="ion-plus-round"></span></a>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					<ion-option-button class="button-assertive" ng-click="delete(order)"> Delete </ion-option-button>
						</ion-item>
					</ion-list>
				<!-- 	<div class="item item-thumbnail-left item-remove-animate row" ng-repeat="order in productlist">

						<div class="col ">
							<div class="text-left">
								<h2>{{order.name}}</h2>
								<div class="row">
									<div class="col ">
										<p>{{curency}} {{order.total_price}}</p>
									</div>
									<div class="more_add">
										<div class="order_cart_price">
											<a ng-click="decrement(order, $index);" class="more_add_minus"> <span class="ion-minus-round"></span> </a> <b>{{order.quantity}}</b>
											<a ng-click="increment(order)" class="more_add_plus"> <span class="ion-plus-round"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			<div class="order_content card padding" ng-if="restaurant">
				<div class="pricing-table-content">
					<ul class="">
						<!-- <li>
							<div class="row">
								<div class="col-60">
									<p class="order_summary_details" ng-init="cart.quantity=total_qty()">Item Total - {{total_qty()}} Item in total </p>
								</div>
								<div class="col-30 col-offset-10"> <span class="order_summary_span" ng-init="cart.total=getTotal()"> Rs {{ getTotal() }}</span> </div>
							</div>
						</li> -->
						<!-- <li>
							<div class="row">
								<div class="col-60">
									<p class="order_summary_details">Vat and Service Tax </p>
								</div>
								<div class="col-30 col-offset-10"> <span class="order_summary_span" ng-init="cart.tax=vat_tax"> Rs {{vat_tax}}</span> </div>
							</div>
						</li> -->
						<li>
							<div class="row">
								<div class="col-60">
									<p class="order_summary_details"><b>Bill Total</b></p>
								</div>
								<div class="col-30 col-offset-10"> <span class="order_summary_span" ng-init="cart.billtotal=(getTotal() + vat_tax)">{{curency}} {{total}}</span> </div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-60">
									<p class="order_summary_details">Delivery Charges</p>
								</div>
								<div class="col-30 col-offset-10"> <span class="order_summary_span" ng-init="cart.delivercharge=delivery_charge"> Rs {{delivery_charge}}</span> </div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-60">
									<p class="order_summary_details">Grand Total</p>
								</div>
								<div class="col-30 col-offset-10"> <span class="order_summary_span" ng-init="cart.grandtotal=(delivery_charge + getTotal() + vat_tax)"> {{curency}} {{total + delivery_charge}}</span> </div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			</section>
		<section ng-if="!restaurant">
					<div class="height1"> </div>
			<div class="row">
				<div class="col text-center cartimg"> <img class="empt_cart_image" src="img/empty-cart.png">
					<h4><strong>Your cart is currently empty</strong></h4> </div>
				</div>
						<div class="height1"> </div>
				<div class="text-center"> <a class="button no_more_products button-assertive button-outline" href="#/tab/restaurants">Return to shop</a> </div>
			</section>
		</ion-content>
		<ion-footer-bar align-title="left" class="bar-assertive" ng-if="restaurant">
			<div class="buttons" ng-show="!appuser" ui-sref="login">
				<h1 class="title">Please login to proceed</h1>
				<button class="button button-clear  color-whiteS"><i class="icon ion-log-in"></i></button>
			</div>
			<div class="buttons" ng-show="appuser" ng-click="checkout()">
				<h1 class="title">Please proceed to checkout</h1>
				<button class="button  button-clear color-white" ><i class="icon ion-checkmark-circled"></i></button>
			</div>
		</ion-footer-bar>
	</ion-view>
