<ion-view title="Checkout" hide-tabs="true">
<ion-nav-buttons side="right">

</ion-nav-buttons>
<ion-content class="has-header">
<section>
  <!-- <div class="row">
    <div class="col">
      <div class="text-center pagesize">
        <img ng-src="{{logo}}" class="ab_logo">
      </div>
      <div class="list">
        <div class="item item-thumbnail-left"  ng-repeat="custs in custcart">
          <img ng-src="{{url}}{{custs.path}}/{{custs.image}}">
          <h2>{{custs.name}} </h2>
          <h3>Rs: {{custs.price}}</h3>
          <h3>Qty : {{custs.val}}</h3>
          <h3 class="fl-right">Price : {{Math.round(custs.price*custs.val)}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
          <div class="payment_title">
          <h3><i class="icon ion-cash"></i> &nbsp;Price details</h3>
        </div>
      <ion-list>
      <ion-item>
      Sub total : <span class="order_payment"> Rs {{ getTotal() }}</span>
    </ion-item>
    <ion-item>
    Estimated Tax : <span class="order_payment">{{custorder.tax}}</span>
  </ion-item>
  <ion-item>
  Delivery Charge:  <span class="order_payment"> {{custorder.delivercharge}}</span>
</ion-item>
<ion-item>
<h2><b>Grand total: <span class="order_payment">{{Math.round( getTotal() + custorder.tax + custorder.delivercharge)}}</span></b></h2>
</ion-item>
</ion-list>
</div>
</div> -->
<div class="row">
  <div class="col">
        <div class="payment_title">
      <h4><i class="icon ion-android-pin"></i> &nbsp;Shipping address</h4>
    </div>
    <form name="regform">
      <ion-radio name="address" ng-model="user.address" value="permenant" ng-click="nochange_address()" ng-show="window.localStorage.getItem('my_address') === null">  Old address </ion-radio>
      <div class="list" ng-show="old_address">
         <label class="item item-radio"  >
        <!-- <ion-radio name="group1" ng-value="address.id" ng-model="deliver_address.address_id" ng-click="nochange_address(address.id)"> -->
          <p>{{shipping_address.name}}</p>
          <p>{{shipping_address.door_no}} , {{shipping_address.street}}</p>
          <p>{{shipping_address.area}},</p>
          <p>{{shipping_address.city}} -{{shipping_address.pincode}}</p>
        <!-- </ion-radio> -->

      </label>
      <!-- <label class="item item-radio">
        <input type="radio" name="group1"  ng-model="deliver_address.address_id" ng-click="change_address()">
        <div class="radio-content">
          <div class="item-content">Change address</div>
        </div>
      </label> -->
    </div>

    <ion-radio  name="address" ng-model="user.address" value="temp" ng-click="change_address()">Add address</ion-radio>

    <div ng-show="new_address" class="address_margin">
      <label class="item item-input">
        <span class="input-label ">Your name</span>
        <input type="text" class="" ng-model="deliver_address.name" ng-required="true" placeholder="Your name">
      </label>
      <label class="item item-input">
        <span class="input-label ">Door N/O</span>
        <input type="text" class="" ng-model="deliver_address.door_no" ng-required="true" placeholder="Door N/o">
      </label>
      <label class="item item-input">
        <span class="input-label ">Street Name</span>
        <input type="text" class="" ng-model="deliver_address.street" ng-required="true" placeholder="Street name">
      </label>
      <label class="item item-input">
        <span class="input-label ">Area</span>
        <input type="text" class="" ng-model="deliver_address.area" ng-required="true" placeholder="Enter your Area">
      </label>
          <label class="item item-input">
        <span class="input-label ">City</span>
        <input type="text" class="" ng-model="deliver_address.city" ng-required="true" placeholder="Enter your City">
      </label>
      <label class="item item-input">
        <span class="input-label ">Pincode</span>
        <input type="text" class="" ng-model="deliver_address.pincode" ng-required="true" placeholder="Pincode" maxlength="6">
      </label>
       <label class="item item-input">
        <span class="input-label ">LandMark</span>
        <input type="text" class="" ng-model="deliver_address.landmark" ng-required="true" placeholder="Landmark">
      </label>
    </div>
    <button class="button button-block button-assertive" type="submit" ng-disabled="regform.$invalid" ng-click="payment(deliver_address)">Continue</button>
    <!-- <button type="submit">Create</button> -->
  </form>
</div>
</div>
</section>
</ion-content>
</ion-view>
