<ion-modal-view>
       <ion-header-bar>
      <div class="buttons">
    <button class="button button-icon button-clear ion-ios-close" ng-click="close_filter()"></button>
      <h1 class="title">Filter</h1>
  </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
           <ion-checkbox ng-model="data.filter[category.id]" ng-value="category.id" ng-repeat="category in categories | orderBy : 'name'">{{category.name}}</ion-checkbox>
      </ion-list>
      <button class="button button-assertive button-block" ng-click="apply_filter(data)">Apply</button>
    </ion-content>
</ion-modal-view>
