<ion-view hide-nav-bar="true" nav-direction="forward">
	<ion-content class="bgd no-header" scroll="true" style="top: 0; " id="login">
		<div class="height1"> </div>
		<div class="row">
			<div class="col text-center"> <img src="img/food4u-logo.png" class="ab_logo" style="width:70%"> </div>
		</div>
		<div class="height1"> </div>
		<!--
	 <div class="profile ">

    <a class="item item-avatar  background-transparent border-none"  href="#/tab/profile"  >
      <img src="img/adam.jpg">
      <h2>Hai Adam</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
		 <div class="padding">
		 <h1 class="text-left padding color-white">WHAT CAN SERVE YOU TODAY ?
			 </h1></div>
</div>
-->
		<div class=" padding">
			<div class="padding">
				<form name="myForm">
				<div class="group1">
					<input type="email" class="background-transparent" ng-model="login.email" ng-required="true" name="email"> <span class="highlight"></span> <span class="bar1"></span>
					<label class="input-label label1">Enter your email</label>
				</div>
				<div class="group1">
					<input type="password" class="background-transparent" ng-model="login.password" ng-required="true" name="password"> <span class="highlight"></span> <span class="bar1"></span>
					<label class="input-label label1">Enter your password</label>
				</div>
<!--				<div class="height1"> </div>-->
				<button class="button button-assertive button-block" ng-click="doLogin(login)" ion-ripple ng-disabled="myForm.$invalid">Login</button>
				<!-- <p ng-show="mob_err">Enter your 10 digit mobile number</p>
              <p ng-show="noUser">You are not a valid user !!!! Please signup with us</p> -->
				<button class="button  button-default button-block red" ui-sref="register">Do not have an account</button>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
