<ion-view view-title="Order Confirmation" hide-tabs>
	<ion-content class="background-color-2 has-footer">


		<div class="card">
  <div class="item item-text-wrap text-center">
    <h2>Order Confirmed</h2>
	  <p>Our Driver is on his way to collect your order</p>
  </div>


			 <div class="item item-body">
    <div style="width: 100%"><iframe width="100%" height="400vh" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=2%2F2%20Venkatesa%20Agraharam%20Street%2C%20Mylapore%2C%20Chennai-600004%2CIndia+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe></div>
			</div>
</div>

	</ion-content>
<ion-pull-up-footer class="bar-assertive " ng-class="{'bottom1':true}" on-expand="footerExpand()" max-height="400" on-collapse="footerCollapse()" >
        <ion-pull-up-handle width="100" height="25" icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" style="border-radius: 25px 25px 0 0">
        </ion-pull-up-handle>
        <ion-pull-up-bar class="delivery-avatar">

			 <a class=" item-avatar" href="#">
      <img src="img/adam.jpg">
					</a>

            <h1 class="title" ion-pull-up-trigger>Delivery Executive</h1>
<!--            <button class="button icon ion-chevron-right"></button>-->
        </ion-pull-up-bar>
        <ion-pull-up-content scroll="false" >
			<div class="height1">
			</div>
            <div class="list card">
                <div class="item item-divider">Recent Updates</div>
                <div class="item item-body">
                    <div>
                        There is a fire in <b>sector 3</b>
                    </div>
                </div>
            </div>
        </ion-pull-up-content>
    </ion-pull-up-footer>
</ion-view>
