<ion-view view-title="Payment" hide-tabs="true">
	<ion-content class="background-color-2 has-footer">
		<div class="address_margin">

		<div class="card" >
			<div class="item item-divider">
		    Deliver to this address
		  </div>
			<div class="item item-text-wrap">
			<p>{{shipping_address.name}}</p>
			<p>{{shipping_address.door_no}} , {{shipping_address.street}}</p>
			<p>{{shipping_address.area}},</p>
			<p>{{shipping_address.city}} -{{shipping_address.pincode}}</p>
		</div>
			</div>
	</div>
		<ion-list>	<div class="item item-divider">
	Select payment method
		  </div>
      <ion-radio ng-model="type" class="item" ng-value="'CASH_ON_DELIVERY'">Cash on delivery </ion-radio>
      <ion-radio ng-model="type" class="item" ng-value="'WEBXPAY'">Pay Online</ion-radio>
	</ion-list>

	</ion-content>
	<ion-footer-bar class="bar button-footer-bar padding-0 margin-0">
				<button class="button button-full button-assertive" ng-click="pay(type)"> Next </button>
			</ion-footer-bar>
</ion-view>
