<ion-view hide-tabs="true">
	<ion-nav-title class="icon">Profile</ion-nav-title>
	<ion-content class=" background-color-1 no-header">
		<div class="bgd  height3">
			<div class="height2"></div>
			<div class="item item-avatar  background-transparent"> <img src="img/adam.jpg">
				<h2 class="color-white">{{appUser.name}}</h2>
				<p> <span class="assertive">{{appUser.mobile}}</span></p>
			</div>
		</div>
		<div class="card">
			<div class="list">
				<label class="item item-input item-stacked-label"> <span class="input-label">First Name</span>
					<input type="text" placeholder="Enter Your Name" ng-model="appUser.name"> </label>
				<label class="item item-input item-stacked-label"> <span class="input-label">Phone</span>
					<input type="tel" placeholder="Enter your Phone no" ng-model="appUser.mobile"> </label>
				<label class="item item-input item-stacked-label" > <span class="input-label">Email</span>
					<input type="email" placeholder="Enter Your Email" ng-model="appUser.email"> </label>
					<label class="item item-input item-stacked-label" > <span class="input-label">door_no</span>
					<input type="text" placeholder="Enter Your door_no" ng-model="appUser.door_no"> </label>
					<label class="item item-input item-stacked-label" > <span class="input-label">street</span>
					<input type="text" placeholder="Enter Your street" ng-model="appUser.street"> </label>
					<label class="item item-input item-stacked-label" > <span class="input-label">area</span>
					<input type="text" placeholder="Enter Your area" ng-model="appUser.area"> </label>
					<label class="item item-input item-stacked-label" > <span class="input-label">city</span>
					<input type="text" placeholder="Enter Your city" ng-model="appUser.city"> </label>
					<label class="item item-input item-stacked-label" > <span class="input-label">pincode</span>
					<input type="text" placeholder="Enter Your pincode" ng-model="appUser.pincode"> </label>
				<!-- <label class="item item-input item-stacked-label"> <span class="input-label">Password</span>
					<input type="password" placeholder="Enter Your Password"> </label> -->
			</div>
		</div>
	</ion-content>
		<ion-footer-bar class="bar button-footer-bar padding-0 margin-0">
			<button class="button button-full button-assertive" ng-click="update(appUser)"> Update </button>
		</ion-footer-bar>
</ion-view>