<ion-view hide-nav-bar="true">
	<ion-content class="bgd" has-header="true" id="register">
		<div class="pagesize padding">
			<form name="myForm" class="go-right">
				<div class="height1"> </div>
				<div class="row">
					<div class="col text-center">
						<!--         <img ng-src="{{logo}}" class="ab_logo">  -->
						<p class="color-white	">Enter your data</p>
					</div>
				</div>
				<div class=" padding ">
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.first_name" ng-required="true" name="first_name"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1">First Name*</label>
						<span class="error-message" ng-show="myForm.first_name.$touched && myForm.first_name.$error.required">First Name is mandatory</span>
        				<!-- <span class="error-message" ng-show="myForm.first_name.$dirty && myForm.first_name.$error.minlength">First Name should be atleast 3 characters</span> -->
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.last_name" ng-required="true" name="last_name"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1">Last Name*</label>
						<span class="error-message" ng-show="myForm.last_name.$touched && myForm.last_name.$error.required">Last Name is mandatory</span>
        				<!-- <span class="error-message" ng-show="myForm.last_name.$dirty && myForm.last_name.$error.minlength">Last Name should be atleast 3 characters</span> -->
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.mobile" ng-minlength="10" ng-maxlength="10" ng-required="true" ng-pattern="/^\+?\d{10}$/" name="mobile"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1">Phone Number*</label>
						<span class="error-message"  ng-show="myForm.mobile.$touched && myForm.mobile.$error.required">Please Enter Mobile Number</span>
        <span class="error-message"  ng-show="myForm.mobile.$invalid && myForm.mobile.$error.pattern">Enter Valid Mobile No</span>
					</div>
					<div class="group1">
						<input type="email" class="background-transparent" ng-model="register.email" ng-required="true" name="email"> <span class="highlight" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"></span> <span class="bar1"></span>
						<label class="input-label label1 ">Email Address*</label>
						<span class="error-message" ng-show="myForm.email.$touched && myForm.email.$error.required">The Email is Required.</span>
        <span class="error-message" ng-show="!myForm.email.$error.required && !myForm.email.$error.minlength && !myForm.email.$error.maxlength&& myForm.email.$error.pattern && myForm.email.$dirty">Enter Valid Email*</span>
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.nic_no" ng-required="true" name="nic"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1">Enter Your NIC or Passport number*</label>
        <span class="error-message" ng-show="myForm.nic.$touched && myForm.nic.$error.required">NIC  or Passport Number is Required.</span>
					</div>
					<div class="group1">
						<input type="Password" class="background-transparent" ng-model="register.password" ng-required="true" name="password" ng-minlength="6" ng-maxlength="15" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"><span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1">Password*</label>
						<span class="error-message" ng-show="myForm.password.$error.required && myForm.password.$touched">Password Field Required</span>
        <span class="error-message" ng-show="!myForm.password.$error.required && myForm.password.$error.minlength && myForm.password.$dirty">Passwords Must be between 8 and 20 Characters.</span>
         <span class="error-message" ng-show="myForm.password.$error.maxlength">Password Maximum 20 Characters Only</span>
        <span class="error-message" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength&& myForm.password.$error.pattern && myForm.password.$dirty">Must Contain One Lower &amp; Uppercase Letter</span>
					</div>
					<div class="group1">
						<input type="Password" class="background-transparent" ng-model="register.confirm_password" ng-required="true" name="confirm_password" ng-minlength="6" ng-maxlength="15"><span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1">Confirm Password*</label>
						<span class="error-message" ng-show="myForm.confirm_password.$error.required && myForm.confirm_password.$touched">Confirm Password Required</span>
            <span class="error-message" style="color:#e40404;" ng-required="true" ng-show="!myForm.confirm_password.$error.required && (register.password != register.confirm_password ) && myForm.confirm_password.$dirty">Password Mismatched</span>
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.doorno" ng-required="true" name="door_no"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1 ">Door N/O*</label>
            <span class="error-message" ng-show="myForm.door_no.$touched && myForm.door_no.$error.required">Door Number is Required</span>
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.street" ng-required="true" name="street"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1 ">Street*</label>
            <span class="error-message" ng-show="myForm.street.$touched && myForm.street.$error.required">Street Field is Mandatory</span>
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.area" ng-required="true" name="area"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1 ">Area*</label>
            <span class="error-message" ng-show="myForm.area.$touched && myForm.area.$error.required">Area is Mandatory</span>
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.city" ng-required="true" name="city"> <span class="highlight"></span> <span class="bar1"></span>
						<label class="input-label label1 ">City*</label>
            <span class="error-message" ng-show="myForm.city.$touched && myForm.city.$error.required">City is Mandatory</span>
					</div>
					<div class="group1">
						<input type="text" class="background-transparent" ng-model="register.pincode" ng-required="true" maxlength="6" name="pincode"><span class="highlight"></span><span class="bar1"></span>
						<label class="input-label label1 ">Pincode</label>
					</div>
				</div>
				<div class="padding">
					<button class="button button-calm button-block" ion-ripple ng-click="reg(register)" ng-if="myForm.$valid">Create</button>
					<button class="button  button-default button-block red" ui-sref="login">Already have an account</button>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>
