
<ion-view view-title="{{restaurant.name}}" hide-tabs="true">
	<ion-nav-bar class="bar header-background" id="ben-header">
		 <ion-nav-buttons>
  <button class="button button-clear" ng-click="openFavISAS()">
    <i  style="color: #cebd66;" class=" icon left ion-heart  "></i>
  </button>
</ion-nav-buttons>
		<ion-nav-back-button> </ion-nav-back-button>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-cart-outline" ui-sref="tab.cart">
				<span class="badge badge-balanced header-badge" ng-if="cart_count">{{cart_count}}</span></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class=" no-header background-color-2 restaurant-detail" style="top: 0; " id="myFunction" delegate-handle="myPageDelegate"> <img ng-src="{{img_url}}/{{restaurant.path}}/{{restaurant.image}}" style="width:100%;height:200px;">
		<div class="card">
			<div class="item item-text-wrap">
				<div class="row padding-0">
					<div class="col-60 padding-0 assertive"> {{restaurant.name}} </div>
					<div class="col padding-0 text-right ">
						<star-rating-comp rating="restaurant.rating" label-text="restaurant.rating" static-color="'positive'" label-position="'right'" num-of-stars="5" read-only="true"></star-rating-comp>
					</div>
				</div>
				<p> {{restaurant.address}} </p>
				<p> {{restaurant.area}} </p>
				<p> {{restaurant.city}} </p>

			</div>
		</div>
		<ion-list class="card" id="middle" ng-repeat="(key, value) in products | groupBy: 'category'">
			<div class="item item-divider  padding-left" id="{{key}}"> {{key}} </div>
			<ion-item class="item-thumbnail-left padding  row" ng-repeat = "item in value">
				<div class="col col-33 border-bottom-color">
					<img ng-src="{{img_url}}/{{item.path}}/{{item.image}}" class="img-responsive">
				</div>
				<div class="col border-bottom-color">

					<!-- <div class="height4"></div> -->
					<div class="row">
						<div class="col padding-top">
											<h2 class="padding-left">{{item.name}}</h2>
							<p class="padding-left">{{item.quantity}} Nos</p>
							<p class="padding-left">{{curency}} {{item.rate}}</p>
						</div>
						<div class="col text-right col-bottom">
							<button class="button button-outline button-small button-assertive" ion-ripple ng-click="add_cart(item)"> Add to Cart </button>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<p> </p>
	</ion-content>
	<ion-footer-bar ng-hide="value.length == 0">
		<button class="button icon ion-spoon  icon-left pull-right" ng-click="openPopover($event)">Menus</button>
	</ion-footer-bar>
	  <ion-super-action-sheet delegate-handle="sof2" >
		<div  >
		  <div style="height:32vh;background-color:#e2e2e2;">
		  <br>
			<center>
				<i class="ion-flash" style="font-size: -webkit-xxx-large;color: #b7b7b7;"> </i>
				<h1 style="    color: #676767;font-size:12px;"> Empty Favorite products List</h1>
			</center>
		  </div>
		</div>
		<ion-list>
			  <ion-item class=" item-thumbnail-left item-button-right" ng-repeat="favproduct in favproducts" type="item-text-wrap" >
					<img ng-src="{{favproduct.picture}}">
					<h2>{{favproduct.name}}</h2>
					<p>{{favproduct.rate}}</p>

			  </ion-item>
	  </ion-list>

 </ion-super-action-sheet>

</ion-view>
