<ion-view hide-tabs="true">
	<ion-nav-title class="icon"> Setting </ion-nav-title>
	<ion-content class=" background-color-2 no-header">
		<div class="bgd  height3">
			<div class="height2"></div>
			<div class="item item-avatar  background-transparent"> <img src="img/adam.jpg">
				<h2 class="color-white">{{appUser.name}}</h2></div>
		</div>
		<ion-toggle class="bg-color  background-color-2" toggle-class="toggle-assertive" ng-model="push" ng-click="setting()"> You Want Notification Alert ? </ion-toggle>
		<tab-slide-box>
			<div class="tsb-icons ">
				<div class="tsb-ic-wrp">
					<ion-scroll direction="x" class="tsb-hscroll row"> <a href="javascript:;" class="ion-home1 col">My Address</a> <a href="javascript:;" class="ion-ios-game-controller-b1 col">My Cards</a> </ion-scroll>
				</div>
			</div>
			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" class="bg-color">
				<ion-slide class="padding">
					<div class="card">
						<div class="item item-text-wrap text-left"> 2/2 venkatesa Agraharam Street, Mylapore, Chennai-04 </div>
					</div>
				</ion-slide>
				<ion-slide class="padding">
					<div class="card">
						<div class="item item-text-wrap"> This is a basic Card which contains an item that has wrapping text. </div>
					</div>
				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>
		<ion-footer-bar class="bar button-footer-bar padding-0 margin-0">
			<button class="button button-full button-assertive"> Add </button>
		</ion-footer-bar>
	</ion-content>
</ion-view>