<ion-view nav-direction="forward">
	<ion-nav-bar class="bar">
		<ion-nav-back-button> </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="background-color-2 no-header">
		<div class="background-color profile">
			<div class="height2"> </div>
			<a class="item item-avatar  background-transparent border-none ripple" href="#/tab/profile"> <img src="img/adam.jpg">
				<h2>{{appUser.name}}</h2>
				<p>{{appUser.mobile}}</p>
			</a>
		</div>
		<ion-list>
			<a class="item item-icon-left item-icon-right ripple" href="#/tab/order"> <i class="icon ion-ios-list-outline"></i> Order-History <i class="icon ion-chevron-right icon-accessory"></i> </a>
			<a class="item item-icon-left item-icon-right ripple" href="#/tab/payment"> <i class="icon ion-card"></i> Payment method <i class="icon ion-chevron-right icon-accessory"></i> </a>
			<a class="item item-icon-left item-icon-right ripple" href="#/tab/settings"> <i class="icon ion-ios-gear-outline"></i> Settings <i class="icon ion-chevron-right icon-accessory"></i> </a>
			<a class="item item-icon-left item-icon-right ripple" ng-click="share()"> <i class="icon  ion-ios-people"></i> Invite Friends <i class="icon ion-chevron-right icon-accessory"></i> </a>
			<a class="item item-icon-left item-icon-right ripple" ng-click="logout()"> <i class="icon  ion-log-out"></i>Logout<i class="icon ion-chevron-right icon-accessory"></i> </a>
		</ion-list>
	</ion-content>
</ion-view>