<ion-view view-title="Order History">
	<ion-content class="padding">
		<tab-slide-box tab="2">
			<div class="tsb-icons ">
				<div class="tsb-ic-wrp">
					<div class="tsb-hscroll row"> <a href="javascript:;" class="ion-home1 col col-33">SEP 15</a> <a href="javascript:;" class="ion-ios-game-controller-b1 col  col-33">Oct 27</a> <a href="javascript:;" class="ion-ios-game-controller-b1 col  col-33">Nov 27</a> <a href="javascript:;" class="ion-ios-game-controller-b1 col  col-33">Nov 30</a> <a href="javascript:;" class="ion-ios-game-controller-b1 col  col-33">Dec 17</a> </div>
				</div>
			</div>
			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" class="bg-color">
				<ion-slide ng-repeat="restaurant in restaurants">
					<ion-list class="card">
						<div class="item item-divider"> Menus </div>
						<ion-item class="item-thumbnail-left  row" ng-repeat="menu in restaurant.menus">
							<div class="col col-33 border-bottom-color"> <img ng-src="{{menu.menu_img}}" class="img-responsive"> </div>
							<div class="col  border-bottom-color">
								<h2 class="text-left padding-left">{{menu.menu_name}}</h2>
								<div class="height4"></div>
								<div class="row">
									<div class="col  padding-top">
										<p> <a href="#" class="subdued" style="text-decoration: line-through;">Rs.{{menu.price}}</a> <a href="#" class="subdued">Rs.{{menu.offer_price}}</a></p>
									</div>
									<!-- <div class="col">
										<button class="button button-outline button-small button-assertive" ion-ripple> Add to Cart </button>
									</div> -->
								</div>
							</div>
						</ion-item>
					</ion-list>
				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-view>
