<ion-view view-title="Restaurants">
	<ion-nav-bar class="bar">
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-cart-outline" ui-sref="tab.cart">
				<span class="badge badge-balanced header-badge" ng-if="cart_count">{{cart_count}}</span></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-header-bar class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model="search_text"> </label>
		<button class="button button-clear icon ion-funnel"  ng-click="show_filter()"></button>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader item-input-inset ">
		<button class="button button-clear  icon ion-android-funnel " ion-ripple ng-click="show()"></button>
		<a class="button button-clear location" href="#/restaurants_search">{{address}}</a>
		<button class="button button-icon" ng-click="data.grid = !data.grid" ion-ripple> <i class="icon ion-grid  light " ng-if="data.grid"></i> <i class="icon ion-navicon  light " ng-if="!data.grid"></i> </button>

	</ion-header-bar>
	<ion-content scroll="true" class="has-footer">
		<div class="height1"> </div>
		<ion-list ng-class="{ 'grid-container' : data.grid , '' : !data.grid}">
			<ion-item class="item-remove-animate grid1 " ng-class="{'grid col col-50' : data.grid , '' : !data.grid}" ng-repeat="restaurant in restaurants | filter: search_text" type="item-text-wrap" href="#/tab/restaurants/{{restaurant.hoteladdress_id}}"> <img ng-src="{{img_url}}/{{restaurant.path}}/{{restaurant.image}}" class="img-responsive ripple">
				<div class="position-1">
					<h2>{{restaurant.name}}</h2>
					<p>{{restaurant.area}}</p>
					<star-rating-comp rating="restaurant.rating" label-text="restaurant.rating" static-color="'positive'" label-position="'right'" num-of-stars="5" read-only="true" ng-if="restaurant.rating"></star-rating-comp>
					<!--        <i class="icon ion-chevron-right icon-accessory"></i>-->
					<!-- <ion-option-button class="button-assertive" ng-click="remove(restaurant)"> Delete </ion-option-button> -->
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
