<ion-view hide-nav-bar="true">
	<ion-content class="bgd no-header" scroll="true" style="top: 0; ">
		<div class="height1"> </div>
		<div class="row">
			<div class="col text-center"> <img src="img/food4u-logo.png" class="ab_logo" style="width:70%"> </div>
		</div>
			<div class="height1"> </div>
		<div class="profile ">
			<!-- <a class="item item-avatar  background-transparent border-none" href="#/tab/profile"> <img src="img/adam.jpg">
				<h2>Hai Adam</h2>
				<p>Back off, man. I'm a scientist.</p>
			</a> -->
			<div class="padding">
				<h3 class="text-left padding color-white">WHAT CAN SERVE YOU TODAY ?
			 </h3></div>
		</div>
		<div class="row padding">
			<div class="col text-center padding">
				<div class="list list-inset">
					<label class="item item-input item-icon-right"> <i class="icon ion-location assertive placeholder-icon"></i>
						<input type="text" gm-places-autocomplete="autocompleteOptions" placeholder="Enter Your Address" ng-model="location" ng-required="true"></label>
				</div>
				<button class="button button-assertive button-block border-none" ng-click="search_location(location)" ion-ripple>search</button>
				<h2 class="color-white">or</h2>
				<button class="button  button-light  button-block red" ng-click="current_location()" ion-ripple>Search by Current location</button>
			</div>
		</div>
	</ion-content>
</ion-view>
