<ion-view view-title="Notification">
	<ion-content class="has-footer">
		<ion-list>
			<ion-item class="item-thumbnail-left  row margin-bottom" ng-repeat="menu in restaurants">
				<div class="col-33"> <img ng-src="{{menu.img}}" class="img-responsive " style="width:100%;height:100px;"> </div>
				<div class="">
					<h2 class="text-left padding-left">{{menu.name}}</h2>
					<div class="item-text-wrap padding-left">
						<p class="">{{menu.address}} </p>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
