<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive " ng-class="{'slide-out-down tabs-item-hide': hideTabs,'slide-in-up tabs-item-hide': !hideTabs}">
	<!-- Dashboard Tab -->
	<ion-tab title="Restaurants" icon-off="icon ion-android-restaurant" icon-on="icon ion-android-restaurant" href="#/tab/restaurants" animation="slide-left-right">
		<ion-nav-view name="tab-restaurants" class="animated fadeIn"></ion-nav-view>
	</ion-tab>
	<ion-tab title="order history" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/order">
		<ion-nav-view name="tab-order" class="animated fadeIn"></ion-nav-view>
	</ion-tab>
	<!-- Chats Tab -->
	<ion-tab title="Notification" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/notification" badge="3">
		<ion-nav-view name="tab-notification" class="animated fadeIn"></ion-nav-view>
	</ion-tab>
	<!-- Account Tab -->
	<ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="icon ion-ios-person" href="#/tab/account" ng-if="user">
		<ion-nav-view name="tab-account" class="animated fadeIn"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Login" icon-off="ion-ios-person-outline" icon-on="icon ion-ios-person" href="#/login" ng-if="!user">
		<ion-nav-view name="tab-account" class="animated fadeIn"></ion-nav-view>
	</ion-tab>
</ion-tabs>
